<header class="masthead">
  <ul class="language-nav">
    <li><a href="#">CSS</a></li> 
    <li><a href="#">HTML</a></li> 
    <li><a href="#">Javascript</a></li>
    <li><a href="#">Ruby</a></li>
  </ul>
    <img id="logo" src="assets/AA_Times_Logo.png">
  <div>  
    <p>Tuesday, October 18, 2016</p>
    <a href="#"><i class="fas fa-newspaper"></i>Today's Paper</a>
    <a href="#"><i class="fas fa-video"></i>Video</a>
    <a href="#">77°F</a>
    <a href="#">AAO +100%</a>
  </div>  
</header>
  
